//===============================================================================
// VARIABLES
//===============================================================================
$paper:  white;
$ink: #000020;
$purple: #7700FF;
$dblue: #4d45ff;

$short: 0.3s;
$med: 0.55s;
$long: 0.85s;
$vLong: 1.4s;